book.json
Introduction.md
LinearRegression.md
LogisticRegression.md
ModelSelection.md
MultilayerPerceptron.md
NaiveBayesian.md
Normalization.md
Perceptron.md
Problem_in_Real_World.md
Regulazrization.md
What_is_Machine_Learning.md
