book.json
Introduction.md
LinearRegression.md
LogisticRegression.md
ModelSelection.md
MultilayerPerceptron.md
NaiveBayesian.md
Normalization.md
Perceptron.md
Problem_in_Real_World.md
Regularization.md
What_is_Machine_Learning.md
Bias-Variance_Decomposition.md
SUMMARY.md
.vscode
.idea
.gitignore
ffm.py
*DS_Store*
